 .service-banner-section {
  margin-top: 130px;

  .container {
   margin-top: 20px;
  }

  .service-banner-text {
   h2 {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 30px;
   }

   p {
    margin-bottom: 50px;
   }
  }

  .service-banner-img {
   padding-top: 80px;
   margin-bottom: -100px;
   text-align: center;
   width: 100%;
   object-fit: cover;

   img {
    border-radius: 30px;
   }
  }
 }

 .service-item {
  margin-bottom: 80px;
 }

 @media (max-width: 575px) {
  .service-banner-section {
   margin-top: 70px;
   padding: 30px 0 50px;

   .service-banner-text {
    text-align: center;

    h2 {
     font-size: 40px;
    }

    p {
     margin-bottom: 20px;
    }
   }

   .service-banner-img {
    padding-top: 20px;
    margin-bottom: 0;
    text-align: center;
   }
  }
 }

 @media (min-width: 576px) and (max-width: 767px) {
  .service-banner-section {
   margin-top: 70px;
   padding: 30px 0 50px;

   .service-banner-text {
    text-align: center;

    h2 {
     font-size: 40px;
    }

    p {
     margin-bottom: 20px;
    }
   }

   .service-banner-img {
    padding-top: 20px;
    margin-bottom: 0;
    text-align: center;
   }
  }
 }

 @media (min-width: 768px) and (max-width: 991px) {
  .service-banner-section {
   margin-top: 90px;
   padding: 30px 0 50px;

   .service-banner-text {
    h2 {
     font-size: 40px;
    }

    p {
     margin-bottom: 20px;
    }
   }

   .service-banner-img {
    padding-top: 20px;
    margin-bottom: 0;
    text-align: center;
   }
  }
 }
 