.safty-section {
    .section-title {
        text-align: center;
        max-width: 600px;
        margin: 0 auto 50px;

        h2 {
            max-width: inherit;
        }
    }

   .safety-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; // Centers the video horizontally
    max-width: 560px; // Adjust width as needed

    iframe {
        width: 100%; // Responsive width
        height: 315px; // Adjust height as needed
        border-radius: 10px; // Optional: Rounded corners
    }
}

}