 @import '../../sass/colors.scss';

 .priority-section {
     padding-bottom: 150px;

     .priority-img {
         position: relative;
         z-index: 1;
         text-align: right;
         margin: 0 60px 30px 0;

         img {
             border-radius: 20px;
         }

         &::before {
             content: "";
             position: absolute;
             top: -12%;
             left: 30%;
             width: 45%;
             height: 65%;
             background: #DBEFFA;
             border-radius: 20px;
             z-index: -1;
         }
     }

     .priority-text {
         max-width: 700px;
         margin-bottom: 30px;

         .section-title {
             margin-bottom: 30px;

             h2 {
                 max-width: inherit;
             }
         }

         .theme-btn {
             margin-top: 80px;
         }
     }
 }

 // Responsive Styles

 @media (max-width: 575px) {
     .priority-section {
         padding-bottom: 20px;

         .priority-img {
             margin-right: 0;

             &::before {
                 display: none;
             }
         }

         .priority-text .theme-btn {
             margin-top: 20px;
         }
     }
 }

 @media (min-width: 576px) and (max-width: 991px) {
     .priority-section {
         padding-bottom: 70px;

         .priority-img {
             margin-right: 0;
             text-align: center;

             &::before {
                 display: none;
             }
         }

         .priority-text .theme-btn {
             margin-top: 0;
         }
     }
 }

 @media (min-width: 992px) and (max-width: 1199px) {
     .priority-section {
         padding: 0 0 70px;

         .priority-img::before {
             display: none;
         }
     }
 }

 @media (min-width: 1200px) and (max-width: 1800px) {
     .priority-section .priority-img::before {
         display: none;
     }
 }
