 @import '../../sass/colors.scss';

 .faq-section {
  .section-title {
   margin-bottom: 30px;
   text-align: center;
  }

  .accordion-item {
   .accordion-header {
    .accordion-button {
     font-weight: 600;
    }
   }
  }
 }

 .show-more-btn {
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #583FBC;
  transition: all 0.3s ease-in-out;

  &:hover {
   background-color: #452a9a;
  }
 }

 @media (max-width: 575px) {
  .faq-section {
   padding-bottom: 50px;
  }
 }
