 @import '../../sass/colors.scss';

 .team-area {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     text-align: center;
     padding-top: 60px;

     .container {
         display: flex;
         flex-direction: column;
         align-items: center;
         max-width: 900px;
     }

     .section-title {
         margin-bottom: 10px;
     }

     .col-lg-5 {
         padding-top: 0px !important;
     }

     .intro-text {
         padding-top: 10px !important;
     }

     .row {
         display: flex;
         justify-content: center;
         align-items: flex-start;
         flex-wrap: wrap;
         gap: 20px;
     }

     .team-box {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex-start;
         text-align: center;
         height: 100%;
         width: 100%;

         .team-photo {
             margin-bottom: 10px;
             position: relative;

             &::before {
                 content: '';
                 position: absolute;
                 top: 0;
                 left: 0;
                 right: 0;
                 width: 100%;
                 height: 100%;
                 background: #DBEFFA;
                 z-index: -1;
                 border-radius: 10px;
             }

             img {
                 width: 100%;
                 height: 250px;
                 object-fit: cover;
                 border-radius: 10px;
             }
         }

         h3 {
             font-size: 18px;
             font-weight: 600;
             margin-bottom: 5px;
         }

         h5 {
             font-size: 16px;
             font-weight: 500;
             color: #666;
         }

         p {
             font-size: 14px;
             color: #666;
             margin-bottom: 0;
         }
     }
 }

 // Mobile Adjustments
 @media (max-width: 575px) {
     .team-area {
         padding-top: 40px;
     }

     .row {
         flex-direction: column;
         gap: 10px;
     }

     .col-lg-5 {
         padding-top: 5px !important;
     }
 }
