@import '../../sass/colors.scss';


.single-testimoni {
  width: 100%;
  padding: 50px 10px 0;
  margin-bottom: 30px;
}


  .testimonial-card {
  position: relative;
  padding: 70px 30px 30px;
  background: $color-white;
  text-align: center;
  border-radius: 32px;

  .testimonial-img {
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;


    img {

      display: inline-block;
      border-radius: 50%;
      border: 8px solid #D9EBFA;
    }

  }


  .testimonial-text {

   
     h3 {
       font-size: 18px;
      font-weight: 700;
      margin-bottom: 15px;
      }


      p {
        font-size: 14px;
      margin-bottom: 15px;
      }
   }
 

    .testimonial-rating {
      margin: 0;
      padding: 0;
  

      li {
        font-size: 25px;
        margin: 0 2px;
       display: inline-block;
        color: #FF8C4B;

        &:last-child {
          color: #C4C4C4;
         }
      }
    }
   }
