@import '../../sass/colors.scss';

.expert-section {
    padding: 100px 0 150px;

    .section-title {
        margin-bottom: 30px;

        h2 {
            max-width: unset;
        }
    }

    .expert-text {
        ul {
            padding: 0;
            margin: 0;

            li {
                list-style-type: none;
                font-weight: 500;
                margin-bottom: 10px;

                svg {
                    color: $color-blue;
                    margin-right: 15px;
                    position: relative;
                    top: -1px;
                }
            }
        }
    }
}

.expert-img {
    z-index: 1;
    position: relative;
    text-align: left;
    margin-right: 60px;
    margin-bottom: 30px;

    &::before {
        content: "";
        position: absolute;
        top: -12%;
        right: 0%;
        width: 45%;
        height: 125%;
        background: #FADBE2;
        border-radius: 20px;
        z-index: -1;
    }
}

// Small Devices
@media (max-width: 575px) {
    .expert-section {
        padding: 50px 15px;

        .expert-text {
            ul {
                margin-bottom: 10px;

                li {
                    font-size: 14px;
                    margin-bottom: 8px;

                    svg {
                        margin-right: 5px;
                    }
                }
            }
        }

        .expert-img {
            margin-right: 0;

            &::before {
                display: none;
            }
        }
    }
}

// Medium Devices
@media (min-width: 576px) and (max-width: 767px) {
    .expert-section {
        padding: 50px 0;

        .expert-text {
            margin-bottom: 20px;
        }

        .expert-img {
            margin-right: 0;

            &::before {
                display: none;
            }
        }
    }
}

// Tablets
@media (min-width: 768px) and (max-width: 991px) {
    .expert-section {
        padding: 50px 0;

        .expert-img {
            margin-right: 20px;

            &::before {
                right: -10%;
            }
        }
    }
}

// Desktops
@media (min-width: 992px) and (max-width: 1199px) {
    .expert-section {
        padding: 70px 0;

        .expert-img {
            margin-right: 20px;

            &::before {
                right: -10%;
            }
        }
    }
}

// Large Screens
@media (min-width: 1200px) {
    .expert-section {
        .expert-img {
            &::before {
                right: -10%;
            }
        }
    }
}
