 @import './../../sass//colors.scss';

 .blog-card {
  border: 1px solid #dddddd;
  border-radius: 32px;
  padding: 25px;
  margin-bottom: 20px;

  .blog-img {
   position: relative;
   margin-bottom: 20px;

   .date {
    position: absolute;
    top: 15px;
    left: 15px;
    background: $color-white;
    padding: 15px;
    border-radius: 15px;
    text-align: center;

    h6 {
     font-size: 16px;
     font-weight: 600;
     margin-bottom: 0px;
    }

    p {
     font-size: 12px;
     font-weight: 600;
     margin-bottom: 0;
    }
   }
  }

  .blog-text {
   span {
    a {
     display: inline-block;
     font-size: 14px;
     font-weight: 600;
     color: $color-blue;
     text-transform: uppercase;
     text-decoration: none;
     margin-bottom: 10px;
    }
   }

   h3 {
    a {
     display: inline-block;
     font-size: 18px;
     font-weight: 700;
     color: $color-black;
     text-decoration: none;
     margin-bottom: 20px;
    }
   }

   p {
    font-size: 15px;
   }
  }
 }
